<html>
<head>
  <style>
    div{
      width:100px;
      heigth:100px;
      background: black;
      transition: width 2s, height 4s;
    }

    div: hover{
      width: 300px
      height: 300px
    }
    </style>
    </head>
    </html>
