.pq {
  border:3px color: solid white;

}

h1 {
  font-family: 'Raleway', sans-serif;
  font-family: 'Playfair Display', serif;
   color: white;
  align-text:center;
  display: inline;
  font-size:50px;

}
.o{
  float: up;
  display: flex;
  border: ;
  align: left;

}
.sp{
  font-family: 'Raleway', sans-serif;
  font-family: 'Playfair Display', serif;
   color: white;
  align-text:center;
  display: inline;
  font-size:50px;
  align-items: center;


}
.d {
  font-family: 'Roboto', sans-serif;
  font-family: 'Anton', sans-serif;
   font-family: 'Teko', sans-serif;
   color: #86BBD8;
   margin: center;
   padding-right:35px;
   font-size: 70px;
   text-align:right;
   display: flex;
   width: 100%;
   border:3px color: solid white;
   float: left;
}
.j{

  font-family: 'Raleway', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Sen', sans-serif;
  color:white;
  font-size: 30px
  aling:right;
  display: inline-grid;



}
.g{
  font-family: 'Raleway', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Sen', sans-serif;
  color:black;
  font-size: 100px
  aling:right;
  display: inline-grid;

}
.c{
  font-family: 'Roboto', sans-serif;
  font-family: 'Anton', sans-serif;
   font-family: 'Teko', sans-serif;
  color: solid white;
  font-size: 25px;
  display:inline-block;
  align:right;

}

  nav{
    background-color: black;
    text-align:right;
    height:5%;
    width: 100%;
    display: ;
    position: static;



  }
  body {
    background-color:#2660A4;
  }
  main{
    background-color:#97DFFC ; width:100% ; height:100% ;border-radius: 21px 21px 21px 21px;
-moz-border-radius: 21px 21px 21px 21px;
-webkit-border-radius: 21px 21px 21px 21px;
border: 0px solid #000000;
Copiar te
  }
  section { background-color: ;

  }
  .principal{
    display: inline-block;
    border:;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-family: 'Playfair Display', serif;
  font-family: 'Roboto Condensed', sans-serif;


  }
  .borde{
    background-color:#62B6CB; display:inline-block; text-align:center;
    border:  solid #;
    aling:center;
     text-align:center;
      aling-items: center;
      justify-content: center;
       left:20%;
        top:50%;display:inline-center;
        align= center;
        style="text-align:center;display:inline-block;aling-items:center;justify-content:center;left:50%; top:50%;
        border-radius: 21px 21px 0px 0px;
        -moz-border-radius: 21px 21px 0px 0px;
        -webkit-border-radius: 21px 21px 0px 0px;
        border: 0px solid #000000;


  .fondo{
   background-color:#1282A2
 }

  }
  article{
    background-color:#5FA8D3;
    width: 100%;
    height: 70%;
    align:center;
    border-radius: 21px 21px 21px 21px;
-moz-border-radius: 21px 21px 21px 21px;
-webkit-border-radius: 21px 21px 21px 21px;
border: 0px solid #000000;

  }
  aside{
    background-color:#3d5a80; 
    text-align:center; width:200px; height:100%;float: left;
    font-family: 'Raleway', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Sen', sans-serif;
     font-size:30px;
     color: white;
     border-radius: 21px 21px 21px 21px;
     -moz-border-radius: 21px 21px 21px 21px;
     -webkit-border-radius: 21px 21px 21px 21px;
     border: 0px solid #000000;



  }
  footer{
    background-color:black;
    color: white;
 width:100%;
 height:100%;
 margin-top: 100px;
 font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Sen', sans-serif;



  }
.w{
  font-family: 'Raleway', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Sen', sans-serif;
  font-size:10 px;
}
.y{

  font-family: 'Raleway', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Sen', sans-serif;
  color:white;
  font-size: 90px
  aling:center;
  display: inline-grid;
}
.go{
border: 8px color:white;


}

.letra{
  font-family: 'New Rocker', cursive;
  font-size: 90px;


}
.letra1{
  font-family: 'Monoton', cursive;
    font-size: 90px;
}
.letra2{
  font-family: 'Press Start 2P', cursive;
  font-size: 90px;
}

.letra3{
  font-family: 'Passion One', cursive;
  font-size: 90px;
}

.letra4{
font-family: 'Chelsea Market', cursive;
font-size: 90px

}
.letra5{
  font-family: 'PT Serif', serif;
  font-size: 90px

}

.letra6{
  font-family: 'Anton', sans-serif;
  font-size: 90px

}
.letra7{
  font-family: 'Modak', cursive;
    font-size: 90px
}

.letra8{
  font-family: 'Special Elite', cursive;
  font-size: 90px
}

.letra9{
  font-family: 'Fugaz One', cursive;
  font-size: 90px

}
.letra10{
  font-family: 'Fugaz One', cursive;
  font-size: 23px
}

.letra11{
font-family: 'Bellota Text', cursive;
font-size: 70px;
color: #caf0f8;

}
.centrado{
  align-items: center;

}

.espaciado{

  padding-bottom: 1;
  justify-content: space-evenly;
    display: flex;

}
.gene{
  border:3px;
  color:#97DFFC;
}

.titulos{
  font-family: 'Lexend Tera', sans-serif;
}
.delasemana{
  font-family: 'Archivo Black', sans-serif;
  font-size: 60px;
}

.artista{
  font-family: 'Poppins', sans-serif;
  font-size: 27px;
}
.albumst{
  font-family: 'Great Vibes', cursive;
  font-size: 51px;
color: #A31621;
}
.pp{
  font-family: 'Anton', sans-serif;
  font-size: 40px;
}
.albumlet{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
}
.ver{
  background-color: black;
}

.oko{
  font-family: 'Raleway', sans-serif;
  font-family: 'Playfair Display', serif;
   color: #edf2f4;
  align-text:center;
  display: inline;
  font-size:50px;
  align-items: center;
}

.background1{

  background-color: black;
}
